// Font.
$font: (
  primary: (
    "Raleway",
    "Helvetica Neue",
    Helvetica,
    sans-serif
  )
);

// Palette.
$palette: (
  primary: #555e69,
  secondary: darken(#555e69, 15%),
  meta: lighten(#555e69, 25%),
  border: lighten(#555e69, 55%),
  border-alt: lighten(#555e69, 25%),
  accent: #1de2bc,
  accent-blue: #10bcf9,
  accent-violet: #9371e6,
  accent-orange: #fc6e51
);



@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/footer";
@import "imports/palettes";
@import "imports/banner";

code {
  font-family: 'Fira Code';
}



* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
