/**
 * General
 * ----------------------------------------------------------------------------
 */
html {
  font-family: _font(primary);
  font-size: 112.5%;
  height: 100%;
  min-height: 100%;

  @media only screen and (max-width: 600px) {
    font-size: 100%;
  }
}

body {
  background: #fff;
  color: _palette(primary);
  line-height: 1.66667;
}

a {
  border-bottom: 2px solid _palette(accent);
  color: _palette(secondary);
  text-decoration: none;
  -webkit-transition: border .3s ease, color .3s ease;
  transition: border .3s ease, color .3s ease;

  &:hover {
    border-color: currentColor;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: _palette(secondary);
  font-weight: bold;
  line-height: 1.2;
  margin: 1.66667rem 0 0.83333rem;
  text-rendering: optimizeLegibility;

  &:first-child {
    margin-top: 0;
  }
}

h1 {
  font-size: 2.22222rem;
}

h2 {
  font-size: 1.88889rem;
}

h3 {
  font-size: 1.33333rem;
}

h4 {
  font-size: 1.11111rem;
}

h5 {
  font-size: 0.88889rem;
}

h6 {
  font-size: 14px;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

p {
  margin: 0 0 1.66667em;
}

address {
  font-style: italic;
  margin: 0 0 1.66667em;
}

mark,
ins {
  background: #fff493;
  color: _palette(secondary);
  padding: 0 3px;
  text-decoration: none;
}

pre {
  border: 1px solid _palette(border);
  border-radius: 5px;
  color: _palette(secondary);
  font-size: 0.88889rem;
  margin: 0 0 1.66667rem;
  overflow: auto;
  padding: 1.5em 1.875em;
  position: relative;
  white-space: pre;

  // &:before {
  //   border-color: _palette(border);
  //   border-style: solid;
  //   border-width: 0 0 1px 1px;
  //   color: inherit;
  //   content: "</>";
  //   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  //   padding: 1px 4px;
  //   position: absolute;
  //   right: 0;
  //   top: 0;
  // }
}

blockquote {
  border-bottom: 1px solid _palette(secondary);
  border-top: 3px solid _palette(secondary);
  font-size: 0.9rem;
  line-height: 1.25;
  margin: 2.5rem 0;
  padding-bottom: 1em;
  padding-top: 0.83333em;

  &:first-child {
    margin-top: 0
  }

  p {
    margin-bottom: 0.5em;

    &:last-child {
      margin-bottom: 0;
    }
  }

  small,
  cite {
    color: _palette(meta);
    display: block;
    font-size: 0.5em;
    font-style: normal;
    font-weight: normal;
    line-height: 1.66667;
    margin-top: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 1.66667em;
}

ul,
ol {
  margin: 0 0 1.66667em;
  padding: 0 0 0 1.66667em;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

hr {
  background-color: _palette(border);
  border: 0;
  height: 1px;
  margin: 1.66667em 0;
}

table {
  font-size: 0.88889rem;
  line-height: 1.5;
  margin: 0 0 1.66667rem;
  text-align: left;
  width: 100%;
}

caption {
  color: _palette(meta);
  font-size: 0.875em;
  font-style: normal;
  margin-bottom: 1em;
  text-align: left;
}

th,
td {
  border-bottom: 1px solid _palette(border);
  padding: 0.5em 5px;
}

th {
  color: _palette(secondary);
  font-weight: bold;
}

/* Form fields */
label {
  color: _palette(secondary);
  font-weight: bold;
}

label > span {
  font-size: 14px;
  font-weight: normal;
}

input[type=checkbox]+label,
input[type=radio]+label {
  cursor: pointer;
  padding-left: 0.25em;
  padding-right: 1em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select,
textarea {
  background: #fff;
  border: 1px solid _palette(border-alt);
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  color: _palette(primary);
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  max-width: 100%;
  padding: 0.5em 10px;
  vertical-align: baseline;
  width: 100%;

  &:focus {
    outline: 0;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
select {
  height: 2.625em;
}

button,
input[type="submit"],
input[type="button"],
input[type="reset"],
a.button {
  background: _palette(accent);
  border: 2px solid _palette(accent);
  border-radius: 30px;
  box-sizing: border-box;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  height: 3em;
  letter-spacing: 0.075em;
  line-height: 1.5;
  padding: 0.25em 35px;
  text-transform: uppercase;
  -webkit-transition: .3s ease;
  transition: .3s ease;

  &:hover,
  &:focus,
  &:active {
    background: 0;
    box-shadow: 0 0 1px 7px rgba(_palette(accent),.2);
    color: _palette(secondary);
    outline: 0;
  }
}

a.button {
  line-height: 1.2;
  padding-bottom: 0.75em;
  padding-top: 0.75em;
}

a.circle {
  background: transparent;
  color: _palette(primary);
  padding: 0;
  width: 3em;

  &:hover,
  &:focus,
  &:active {
    background: _palette(accent);
    color: #fff;
  }
}

#menu-toggle {
  background: 0;
  border: 0;
  box-shadow: none;
  color: inherit;
  height: 30px;
  padding: 0;
  position: relative;
  width: 30px;
}

/* Videos, audios and embeds */
embed,
iframe,
object,
video {
  max-width: 100%;
}

.js-reframe {
  margin: 0 0 1.66667em;
}

/* Images */
img {
  height: auto;
  max-width: 100%;
}

.post-thumbnail img,
.post-content img,
.block img {
  border-radius: 5px;
}

/* Text meant only for screen readers */
.screen-reader-text,
.site-logo + .site-identity .site-title,
.site-logo + .site-identity .site-description {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
}

/* Heading underline */
.underline {
  position: relative;

  &:after {
    border-left: 30px solid _palette(accent);
    box-shadow: inset 0 1px 0 0 _palette(border);
    display: block;
    content: "";
    height: 3px;
    margin-top: 1rem;
  }
}

/* Clearing floats */
.post-content:after {
  clear: both;
}

.post-content:before,
.post-content:after {
  content: "";
  display: table;
}
