{{ define "content" }}

<article class="post page post-full">
  <header class="post-header">
    <h1 class="post-title underline">{{ .Params.title }}</h1>
  </header><!-- .post-header -->
  {{ if .Params.subtitle }}
  <div class="post-subtitle">
    {{ .Params.subtitle | safeHTML }}
  </div><!-- .post-subtitle -->
  {{ end }}
  {{ if .Params.img_path }}
  <div class="post-thumbnail">
    <img src="{{ .Params.img_path | relURL }}" alt="{{ .Params.title }}" />
  </div><!-- .post-thumbnail -->
  {{ end }}
  <div class="post-content">
    {{ .Content }}
    <!-- <form name="contactForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
      class="contact-form">
      <p class="screen-reader-text">
        <label>Don't fill this out if you're human: <input name="bot-field" /></label>
      </p>
      <p class="form-row">
        <label class="form-label">Name *</label>
        <input type="text" name="name" placeholder="Your name..." class="form-input">
      </p>
      <p class="form-row">
        <label class="form-label">Email *</label>
        <input type="email" name="email" placeholder="Your email address..." class="form-input">
      </p>
      <p class="form-row">
        <label class="form-label">Message *</label>
        <textarea name="message" placeholder="Your message..." class="form-textarea" rows="7"></textarea>
      </p>
      <input type="hidden" name="form-name" value="contactForm" />
      <p class="form-row">
        <button type="submit" class="button">Send Message</button>
      </p>
    </form> -->
    <div style="transform: scale(1.4);">
      {{ partial "social.html" . }}
    </div>
  </div><!-- .post-content -->
</article><!-- .post -->

{{ end }}
